/*UNA BUENA PRACTICA DE CSS ES RESETEAR LOS ESTILOS*/
/*El sizing: border-box, reacalcula de forma automatica para que se adepte segun la pantalla, solo recalcula el padding y el borde*/
/*El margen es externo, el padding y el border son internos*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    width: 100%; /*esa seccion va a tomar todo el largo*/
    height: 500px; 
    border: 10px solid grey;
    padding: 20px 35px; /*arriba y abajo; derecha izquierda*/
}
body{
    font-size: 18px;
}



