*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: purple;
}
section{
    width: 80%;
    min-width: 500px; /*que se adapte como minimo hasta*/
    max-width: 300px; /*que se adpate como maximo hasta*/
    height: 500px;
    background-color: red;
    margin: 0 auto;
}
