.content {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    
    
  }
  
  .box {
    width: 50px;
    height: 50px;
    
  }
  
  
  
  #center {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  #Start {
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
  }
  #end {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #between {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #around {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  #evenly {
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .red {
    background-color: rgb(159, 197, 124);
  }
  
  .lightblue {
    background-color: rgb(113, 158, 173);
  }
  
  .yellow {
    background-color: rgb(167, 167, 100);
  }
  