/*variables*/
:root{
    --primary-color:  indianred;
    --seconday-color:burlywood;
    --header-size: 4rem;
    --font:1.5rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}
header{
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}
main{
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
}
h1{
    font-size: var(--font) ;
}
footer{
    width: 100vw;
    height: 15vh;
    background-color: var(--seconday-color)
    
}

